.invite-friends-main-container{
  background: image-url('background-review') no-repeat round;
  height: 100vh;
  width: 100vh;
}
.our-url{
  background-color: white;
  padding: 8px 14px;
  border-radius: 8px;
}
.my-qr-box{
}
