.search-bar-container{
  border-radius: 6px;
  z-index: 5;
  position: absolute;
  height: 44px;
  background-color: white;
  width: 96%;
  margin: 20px 2%;
}
.search-bar-index{
  .input input{
    border-radius: 0px;
    border: none;
    margin-left: 2%;
  }
}
input#query::placeholder {
  color: rgba(0,0,0,0.8);
  font-size: 30px;
  color: black;
  font-size: 16px;
}
.vendors-container-on-map{
  display: flex;
  height: 30%;
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 2;
  bottom: 0;
  border-radius: 24px 24px 0 0;
  transition: 0.3s;
  justify-content: space-between;
  align-items: center;
  .vendors-on-map-card{
    border-radius: 12px;
    padding: 12px;
    height: 228px;
    width: 95%;
    background-color: white;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
    margin: 0 auto;
  }
}
.container-map-card{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.photo-vendor-on-map-card{
  img {
    height: 120px;
    width: 120px;
  }
}
.vendor-on-map-card-information{
  a{
    font-size: 20px;
  }
}

.name-stars-vendor{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.directions-button{
  margin-top: 12px;
  width: 100%;
}

.form-control:focus{
  border-color: transparent;
  box-shadow: none;
}
.mapboxgl-ctrl-top-right {
  top: 90%;
  right: 0;
}

.mapboxgl-ctrl-group{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
