<div id="last-movements" class="last-movements-container">
  <div id="btn-up"><i id="btn-down-card" class="btn-down-card fas fa-chevron-up"></i></div>
  <div id="btn-close"><i id="btn-close-card" class="btn-down-card fas fa-times"></i></div>
</div>
