<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div id="last-movements" class="last-movements-container">
      <div id="btn-up"><i id="btn-down-card" class="btn-up-card fas fa-chevron-up"></i></div>
      <div id="btn-close"><i id="btn-close-card" class="btn-down-card fas fa-times"></i></div>
      <strong>
        <p style="color:black; font-size: 18px; margin: 0px;" class="px-2">Last Movements</p>
        <hr>
      </strong>
      <%= render 'shared/user_last_mov' %>
    </div>
  </div>
</div>
