<div id="plus-menu" class="plus-menu" style="opacity: 0.6;">
  <p style="margin: 0;padding: 4px 0;color: white;font-size: 26px;"><i class="fas fa-camera"></i></p>
</div>
<!-- <div class="plus-menu-big">
  <div class="fa-camera">
    <%#= link_to ''.html_safe, camera_path %>
  </div>
  <div class="fa-exchange-alt">
    <%#= link_to '<i class="fas fa-exchange-alt"></i>'.html_safe, '#' %>
  </div>
</div> -->

 <!-- style="position: relative;right: -67%;top: 19%;font-size: 40px;" -->
 <!-- style="position: relative;bottom: -70%;right: -5%;font-size: 40px;" -->
