<div id="plus-menu" class="plus-menu">
  <h1>+</h1>
</div>
<div class="plus-menu-big">
  <div class="fa-camera">
    <%= link_to '<i class="fas fa-camera"></i>'.html_safe, bill_path(Bill.first) %>
  </div>
  <div class="fa-exchange-alt">
    <%= link_to '<i class="fas fa-exchange-alt"></i>'.html_safe, '#' %>
  </div>
</div>

 <!-- style="position: relative;right: -67%;top: 19%;font-size: 40px;" -->
 <!-- style="position: relative;bottom: -70%;right: -5%;font-size: 40px;" -->
