<% unless @transactions == [] %>
  <% @transactions.reverse_each do |transaction| %>
    <div style="color:black;padding: 8px 16px;" class="d-flex">
      <div style="display: flex;flex-grow: 1;">
        <div class="historial-avatar-action d-flex">
          <div class="historial-avatar">
            <%= cl_image_tag transaction.vendor.photo.key, :aspect_ratio=>"1:1", :gravity=>"auto", :radius=>"max", :width=>45, :crop=>"fill", alt: "alttext" %>
          </div>
        </div>
        <div class="historial-name-action" style="width: 180px; text-align: left">
          <p style="color:black;margin-right: 10px;"><strong><%= transaction.vendor.name %></strong></p>
          <p style="color: #808080"><i class="fas fa-arrow-right" style="color: $light-blue"></i> Sent</p>
        </div>
      </div>
      <div class="historial-amount" style="width: fit-content">
          <p style="color: white; font-weight: 900">€ <%= humanized_money(transaction.price) %></p>
      </div>
    </div>
  <% end %>
<% end %>

