<% @transactions.reverse_each do |transaction| %>
  <div style="color:black" class="d-flex p-2">
  <%= transaction.vendor.name %>
  <%= transaction.status %>
  <%= transaction.price_cents %>
  <%= transaction. %>
  <% end %>
  </div>

