<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">

    <p>You are goint to send money to </p>
    <h5><%= @bill.vendor.name %></h5>
    <h5 class="alert alert-primary" role="alert"><span class="currency_symbol">$</span><span class="btn btn-primary"><%= humanized_money @money_object %></span></h5>

    </div>

    <div class="col-12 text-center">
      <script src="https://js.stripe.com/v3/"></script>

        <form action="/charge" method="post" id="payment-form">
          <div class="form-row">
            <label for="card-element">
              Credit or debit card
            </label>
            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
          </div>

          <button>Pay</button>
        </form>
    </div>

  </div>
</div>
