<div class="container-sm p-5">
  <div class="row justify-content-center">
    <div class="col-12 text-center">

      <p>You sent money to </p>
      <h5><%= @bill.vendor.name %></h5>
      <div class="input-group input-group-lg mb-3">
        <div class="input-group-prepend">
            <span class="currency_symbol input-group-text" id="inputGroup-sizing-lg"><%= currency_symbol %></span>
           </div>
        <input type="text" class="form-control text-right" placeholder="<%= humanized_money @bill.price %>" aria-describedby="inputGroup-sizing-lg">
      </div>

    </div>

  </div>
</div>
