
<div class="search-bar-index d-flex justify-content-center" id="search" >
    <%= form_tag vendors_path, method: :get do %>
      <span class="input" >
        <%= text_field_tag :query, params[:query], class: "form-control d-inline w-auto", placeholder: "Search map" %>
      </span>

      <!-- I took out the button because the phone has a keyboard and let's you search without pressing the button -->
      <!-- also on the desktop yu can press enter -->
      <!-- <span class="input" ><%= submit_tag 'Find', class: "btn btn-primary" %></span> -->

    <% end %>
</div>

<!-- style="position: relative;left: 15px;" -->
<!-- style="position: relative;left: -5px; bottom: 1px;" -->
