
<div class="search-bar-index d-flex justify-content-center"  >
    <%= form_tag vendors_path, method: :get do %>
      <span class="input d-flex" >
        <p><i class="fas fa-search" style="font-size: 21px;margin-top: 9px;margin-right: 8px;"></i></p>
        <%= text_field_tag :query, params[:query], class: "form-control d-inline w-auto", placeholder: "Search for Cashless Points" %>
      </span>

      <!-- I took out the button because the phone has a keyboard and let's you search without pressing the button -->
      <!-- also on the desktop yu can press enter -->
      <!-- <span class="input" ><%= submit_tag 'Find', class: "btn btn-primary" %></span> -->

    <% end %>
</div>

<!-- style="position: relative;left: 15px;" -->
<!-- style="position: relative;left: -5px; bottom: 1px;" -->
