
<div>
  <% if vendor.photo.attached?  %>
    <%= cl_image_tag vendor.photo.key, height: 100, width: 100, crop: :fill, class: "mb-3" %>
  <% else %>
    <%= image_tag 'restaurant-logo', height: 100, width: 100, crop: :fill %>
  <% end %>
  <h2><%= link_to vendor.name, vendor_path(vendor) %></h2>
  <!-- ratings -->
  <!-- open or closed -->
<!-- if the current time is bigger or equal to the opening and smaller than the closing -->
  <!-- open - closes at :closes -->
  <!-- else -->
  <!-- closed - open between :opens AM and :closes PM-->

  <!-- directions -->
</div>
