<div class="container-sm p-5">
  <div class="row justify-content-center">
    <div class="col-12 text-center">

    <div class="qr-box">
      <%= link_to @svg.html_safe , new_bill_payment_path(@bill), class: "my-qr qrcode" %>
        <div>
          <%= image_tag("logo.png", class: "qr-icon") %>
        </div>
    </div>

    </div>
  </div>
</div>


