<div class="submit-payment" style="width: 90%">
  <div class="spinner hidden" id="spinner"></div>
  <div id="button-background" style="justify-content: flex-end;align-items: center;">
    <span class="slide-text" style="font-size: 18px; margin-right: 20px;">Swipe to pay</span>
    <div id="slider">
      <i id="locker" class="material-icons" style="font-size: 24px; font-style: normal">
        <%= cl_image_tag "Icon_App_transp-01_opwkhv.png", :width=>60, :crop=>"scale" %>
      </i>
    </div>
  </div>
</div>
