<div class="dashboard-container">
  <div class="round-grey-menu-bar">
    <i class="fas fa-bars"></i>
  </div>
  <div id="avatar">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key+".png",
        :aspect_ratio=>"1:1", :border=>"5px_solid_rgb:ffffff",
        :gravity=>"auto", :radius=>"max", :width=>85,
        :crop=>"fill", alt: "avatar" %>
    <% else %>
      <%= cl_image_tag("ak7v1xw08tfwpyhhyplznrbuyf4o.png", :aspect_ratio=>"1:1", :border=>"5px_solid_rgb:ffffff", :gravity=>"auto", :radius=>"max", :width=>85, :crop=>"fill") %>
    <% end %>
  </div>
  <div id="name"></div>
  <div class="cards-grid"></div>
  <div id="add"></div>
  <div class="slider-btns"></div>
  <div class="bottom-card-dashboard"></div>
</div>



