.bill-show-container {
  background: image-url('background-bill') no-repeat center;
  background-color: white;
  height: 100vh;
  background-size: 100%;
}
.input-blue{
  background-color: $light-blue;
  border-radius: 12px;
}

.form-control::placeholder{
  color: white;
  font-size: 28px;
}
.submit-payment{
  background: $light-blue;
  border: none;
  padding: 14px 56px;
  border-radius: 100px;
  margin-top: 20%;
  color: white;
  font-size: 24px;
}
