.bill-show-container {
  background: image-url('background-bill') no-repeat center;
  background-color: white;
  height: 100vh;
  background-size: 100%;
}
.input-blue{
  background-color: $light-blue;
  border-radius: 12px;
}

.form-control::placeholder{
  color: white;
  font-size: 28px;
}
.submit-payment{
  background: $light-blue;
  border: none;
  padding: 16px 56px;
  border-radius: 100px;
  margin-top: 20%;
  color: white;
  font-size: 24px;
  a {
    color: white;
  }
}

.card-body-btn{
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 8px;
  margin: 4px 0;
}

.cards-btns{
  ul li.active{
    border-radius: 8px;
    box-shadow: 0 0 4px #96bb7c;
    background-color: #e4f2da;
  }
}
