.display-menu-main-container{
  background-color: $light-blue;
  display: none;
}

#menu {
  touch-action: pan-x pan-y;
  background-color: $light-blue;

  .options-menu-container{
    display: flex;
    flex-direction: column;
    .account-name{
      padding: 20px 30px 0 30px;
    }
    li{
      padding: 20px 0;
      display: flex;
      align-items: center;
      i{
        margin-right: 16px;
      }
      p{
        margin: 0;
      }
    }
    .options-menu-down{
      padding: 20px 0px 20px 0px;
      display: flex;
      align-items: center;
      margin-left: 30px;
      i{
        margin-right: 16px;
      }
      p{
        margin: 0;
        a{
          font-decoration: none;
          color: white;
          margin: 0;
        }
      }
    }
  }
}
