.last-movements-container{
  padding: 0px;
  width: 100%;
  height: 36vh;
  background-color: white;
  position: absolute;
  bottom: 0px;
  border-radius: 18px 18px 0 0;
  transition: 0.5s;
  .btn-up-card{
    color: $black;
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 12px;
    transition: 0.7s;
    rotate: 0deg;
  }
  .btn-down-card{
    color: $black;
    display: none;
    justify-content: center;
    font-size: 24px;
    margin-top: 12px;
    transition: 0.7s;
    rotate: 0deg;
  }
}

.db-map-container{
  padding: 0px;
  width: 100%;
  height: 36vh;
  background-color: white;
  position: absolute;
  bottom: 0px;
  border-radius: 18px 18px 0 0;
  transition: 0.5s;
  .btn-up-map{
    color: $black;
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 12px;
    transition: 0.7s;
    rotate: 0deg;
  }
  .btn-close-map{
    color: $black;
    display: none;
    justify-content: center;
    font-size: 24px;
    margin-top: 12px;
    transition: 0.7s;
    rotate: 0deg;
  }
}
