.qr-box {
  position: relative;
}

.qrcode {
  max-width: 100%;
  height: auto;
}

.qr-icon {
  height: 36px;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 43%;
  left: 43%;
}
