.radio-buttons {

  input {
    visibility: hidden;
  }

  label {
    background-color: white;
    border: none;
    color: #b2b2b2;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 6px #c4c4c4;
  }

  label:hover {
    background-color: #e1e2e1;
  }

  input:checked + label {
    background: #3e3e3e;
    color: white;
  }
}

.btn {
  border-radius: 50px;
}

.skip-btn{
  padding: 4px 0 18px;
  text-decoration: none;
  a{
    color: rgba(0,0,0,0.5);
  }
}
textarea.form-control::placeholder{
  color: rgba(0,0,0,0.5);
}
textarea#review_content{
  height: 100px;
}
.form-check-label{
  font-size: 15px;
}
.form-check{
  padding: 0;
}
.radio-buttons label{
  padding: 8px;
  color: rgba(0,0,0,0.8);
}

.collection_radio_buttons{
  width: 100%;
}


.placeholder-reviews .review_content textarea::placeholder{
  font-size: 14px;
}

textarea.form-control:focus {
  border-color: rgba(0,0,0,0.5);
}



