.historial-name-action{
  flex-grow: 1;
  p{
    margin-bottom: 0px;
  }
}

.historial-amount p{
  margin: 0;
  background-color: $lightgray;
  padding: 8px 14px;
  border-radius: 50px;
}
.historial-avatar {
  img{
    margin-right: 14px;
  }
}
